<div class="sidenav">
    <div class="logo">
        <a href="/" class="simple-text logo-mini">
            <div class="logo-img">
                <img src="https://random.imagecdn.app/500/500" alt="image">
            </div>
        </a>
        <a href="/" class="simple-text logo-normal">
            School Management
        </a>
    </div>
    <hr>
    <ul class="nav">
        <li class="active">
            <a href="/dash">
                <i class="fas fa-chart-line"></i>Dashboard
            </a>
        </li>
        <li>
            <a href="/courses">
                <i class="fas fa-chart-line"></i>Course Management
            </a>
        </li>
        <li >
            <a href="/students">
                <i class="fas fa-random"></i>Students Management
            </a>
        </li>
        <li >
            <a href="/trainers">
                <i class="fas fa-random"></i>Trainers Management
            </a>
        </li>
        <li>
            <a href="/">
                <i class="fas fa-chart-line"></i>School Management
            </a>
        </li>
        <li>
            <a href="/">
                <i class="fas fa-chart-line"></i>Attandance Monitoring
            </a>
        </li>
        <li>
            <a href="/">
                <i class="fas fa-money-check-alt"></i>Reports
            </a>
        </li>

    </ul>

</div>