<h1 class="text-center mt-5">TRAINERS MANAGEMENT</h1>
<div class="container">
<div class="mat-elevation-z8">
    <div class="table-responsive">
     <table class="table table-striped table-hover" > 
      <thead>
        <tr>
          <th scope="col">RegNo</th>
          <th scope="col">Name</th>
          <th scope="col">Attendance</th>
        </tr>
      </thead>
      <tbody >
        <tr >
          <th scope="row">1</th>
          <td>Dan muhadi</td>
          <td>90%</td>
        </tr>
        <tr >
          <th scope="row">2</th>
          <td>Gideon kip</td>
          <td>90%</td>
        </tr>
        <tr >
          <th scope="row">3</th>
          <td>mwaniki</td>
          <td>90%</td>
        </tr>
      </tbody>

       <!-- <ng-container matColumnDef="regNo">
          <th mat-header-cell *matHeaderCellDef> Reg No. </th>
          <td mat-cell *matCellDef="let element"> {{element.regNo}} </td>
        </ng-container> 
      

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container> 
      

        <ng-container matColumnDef="attendance">
          <th mat-header-cell *matHeaderCellDef> Attendance </th>
          <td mat-cell *matCellDef="let element"> {{element.attendance}}% </td>
        </ng-container> 
      
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
      </table> 
      </div>
      <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                    showFirstLastButtons 
                    aria-label="Select page of periodic elements">
      </mat-paginator> -->
  </div>
  </div>
