<div class="mx-auto p-3 mb-2 bg-light text-dark">
  <h1 class= "text-center mt-3">COURSE MANAGEMENT</h1>
  
<div class="input-group p-2">
  <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
  aria-describedby="search-addon" />
  <button type="button" class="btn btn-outline-primary">search</button>
</div>

<div class="container mt-6 mb-3">  
  <div class="d-flex float-right flex-end"><a class="btn btn-primary btn-sm" href="#">Add Course</a></div>          
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Ref No.</th>
        <th>Course Name</th>
       <div class="text-center">
          <th>Course Description</th>
       </div>
        <th>No. of Modules</th>
        <th><a class="btn btn-primary btn-sm" href="#">Edit</a></th>
        <th><a class="btn btn-danger btn-sm" href="#">Delete</a></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>001</td>
        <td>Piano</td>
        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. At esse officiis, earum dolore odit nisi error! Vel, officia delectus velit perspiciatis sed et, labore totam maiores facilis repellendus consequuntur itaque.</td>
        <td>10</td>
       <td> <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
        <td><a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td>002</td>
        <td>Guitar</td>
        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor, cumque quos! Repudiandae officiis asperiores vero consectetur sit consequuntur cupiditate rem ab, sed, labore optio eligendi quae nisi voluptatem odio aliquam.</td>
        <td>11</td>
        <td> <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
       <td><a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td>003</td>
        <td>Brass</td>
        <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla cum minus nam. Eum eos et omnis quam corporis, quo reprehenderit vel officiis, tempore dolore ullam exercitationem iste, autem laborum veniam.</td>
        <td>9</td>
        <td> <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
        <td><a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td>005</td>
        <td>Drums</td>
        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas eius distinctio eum est laboriosam, sint mollitia porro nemo ipsa minima dolor quos atque molestias consequuntur odit facilis eveniet natus. Quidem?</td>
        <td>7</td>
        <td> <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
       <td><a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
      </tr>
      <tr>
        <td>006</td>
        <td>Violin</td>
        <td>Lorem ipsum Eum cum error alias dolore ipsam qui delectus dolorum at, tenetur asperiores natus numquam fuga corporis? Ducimus placeat earum eveniet! Illum, ad.</td>
        <td>6</td>
        <td> <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
        <td><a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
      </tr>
    </tbody>
  </table>
</div>

</div>