<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mt-3"  style="width: 18rem;">
                <div class="card-body">
                  
                  <h1 class="text-center">250</h1>
                  <p class="text-center">STUDENTS</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mt-3"  style="width: 18rem;">
                <div class="card-body">
                  
                  <h1 class="text-center">25</h1>
                  <p class="text-center">TRAINERS</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mt-3"  style="width: 18rem;">
                <div class="card-body">
                  
                  <h1 class="text-center">35</h1>
                  <p class="text-center">SCHOOLS</p>
                </div>
            </div>
        </div>
    </div> 
    <ul class="nav nav-tabs mt-4">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">STUDENTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">TRAINERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SCHOOLS</a>
        </li>
        
    </ul> 
    <div>
     Chart
    </div> 
   
</div>
